<div class="info-section"  tabindex="16" aria-label="Acerca del hospital">
  <div class="full-text-wrapper" >
    <h2 tabindex="17">Misión</h2> 
    <p tabindex="18">Prestar servicios de salud con calidad y calidez en el ámbito de la asistencia especializada, a través de su cartera de servicios, cumpliendo con la responsabilidad de promoción, prevención, recuperación, rehabilitación de la salud integral, docencia e investigación, conforme a las políticas de Ministerio de Salud Publica y el trabajo en red, en el marco de la justicia y equidad social. </p>
  </div>
  <div class="full-text-wrapper">
    <h2 tabindex="19">Visión</h2> 
    <p tabindex="20">Ser reconocidos por la ciudadanía como hospitales accesibles, que presentan un atención de calidad que satisface las necesidades y expectativas de la población bajo principios fundamentales de la salud pública  y bioética, utilizando la tecnología y los recursos públicos de forma eficiente y transparente. </p>
  </div>
  <div class="full-text-wrapper" tabindex="21" aria-label="valores del hospital">
    <h2 tabindex="22">Valores</h2> 
    <p tabindex="23">Respeto.- Entendemos que todas las personas son iguales y merecen el mejor servicio, por lo que nos comprometemos, a respetar su dignidad y atender sus necesidades teniendo en cuenta en todo momento, sus derechos.  </p>
    <p tabindex="24">  Inclusión.- Reconocemos que los grupos sociales son distintos y valoramos sus diferencias.   </p>   
    <p tabindex="25"> Vocación de servicios.- Nuestra labor diaria la hacemos con pasión. </p>
    <p tabindex="26"> Compromiso.- Nos comprometemos a que nuestras capacidades cumplan todo lo aquello que se nos ha confiado. </p>
    <p tabindex="27">  Integridad.- Tenemos la capacidad para decir decidir responsablemente sobre nuestro comportamiento.  </p> 
    <p tabindex="28">  Justicia.- Creemos que todas las personas tienen las mismas oportunidades y trabajamos para ello. </p>  
    <p tabindex="29">  Lealtad.- Confianza y defensa de los valores, principios y objetivos de la entidad, garantizando los derechos individuales y colectivos.  </p>
  </div>
</div>
<hr class="soften" />
<br>
<div class="info-section" >
    <div class="video-wrapper" >
        <iframe width="490" height="250" src="https://www.youtube.com/embed/92ePBC9SHYc?controls=0" title="Acreditación del hispotal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen tabindex="32"></iframe>
    </div>
    <div class="text-wrapper">
      <h2 tabindex="30">Acreditación</h2> 
      <p tabindex="31">El Hospital Gíneco Obstétrico “Isidro Ayora”, por decreto gubernamental de febrero de 1982, es un Hospital de Especialidad, de referencia nacional, docente, que da atención a la madre embarazada en el control prenatal, labor, parto y puerperio, al recién nacido considerándolos como una unidad biopsicosocial. </p>
    </div>
</div>
<br>
<hr class="soften" />
<br>
<div class="info-section">
    <div class="text-wrapper">
        <h2 tabindex="33">Nuestra hisotria</h2>
        <p tabindex="34">El Hospital Gineco Obstétrico Isidro Ayora es uno de los hospitales más importantes de Quito, Ecuador, especializado en la atención de mujeres embarazadas y recién nacidos. Su historia se remonta a la década de 1940, cuando el gobierno ecuatoriano decidió construir un hospital dedicado exclusivamente a la atención de la salud de las mujeres y los recién nacidos. </p>
      </div>
    <div class="video-wrapper">
        <iframe width="490" height="250" src="https://www.youtube.com/embed/V7yC4ULF-hg?controls=0" title="Historía del hospital" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen tabindex="35"></iframe>
    </div>
</div>
<br>
<hr class="soften" />
<br>
<div class="text-wrapper">
  <h2 class="titulo-contacto" tabindex="36">Contactanos</h2>
</div>

<br>
<form action="#" method="post">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" tabindex="37"required>
    
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" tabindex="38" required>
    
    <label for="phone">Teléfono:</label>
    <input type="tel" id="phone" name="phone" tabindex="39">
    
    <label for="subject">Asunto:</label>
    <input type="text" id="subject" name="subject" tabindex="40" required>
    
    <label for="message">Mensaje:</label>
    <textarea id="message" name="message" tabindex="41" required></textarea>
    
    <input type="submit" value="Enviar" tabindex="42">
  </form>

  <a id="back-top" href="#top"><i class="fa fa-chevron-up" tabindex="43"></i></a>