<!--
<div class="container-buttons">
  <button id="btn1">Misión</button>
  <button id="btn2">Visión</button>
  <button id="btn3">Valores</button>
  <div id="info"></div>
</div>-->
<br>
<div class="info-section">
  <div class="full-text-wrapper">
    <h2>Misión</h2> 
    <p>Prestar servicios de salud con calidad y calidez en el ámbito de la asistencia especializada, a través de su cartera de servicios, cumpliendo con la responsabilidad de promoción, prevención, recuperación, rehabilitación de la salud integral, docencia e investigación, conforme a las políticas de Ministerio de Salud Publica y el trabajo en red, en el marco de la justicia y equidad social. </p>
  </div>
  <div class="full-text-wrapper">
    <h2>Visión</h2> 
    <p>Ser reconocidos por la ciudadanía como hospitales accesibles, que presentan un atención de calidad que satisface las necesidades y expectativas de la población bajo principios fundamentales de la salud pública  y bioética, utilizando la tecnología y los recursos públicos de forma eficiente y transparente. </p>
  </div>
  <div class="full-text-wrapper">
    <h2>Valores</h2> 
    <p>Respeto.- Entendemos que todas las personas son iguales y merecen el mejor servicio, por lo que nos comprometemos, a respetar su dignidad y atender sus necesidades teniendo en cuenta en todo momento, sus derechos.  </p>

    <p>  Inclusión.- Reconocemos que los grupos sociales son distintos y valoramos sus diferencias.   </p>
      
    <p> Vocación de servicios.- Nuestra labor diaria la hacemos con pasión. </p>
      
    <p> Compromiso.- Nos comprometemos a que nuestras capacidades cumplan todo lo aquello que se nos ha confiado. </p>
      
    <p>  Integridad.- Tenemos la capacidad para decir decidir responsablemente sobre nuestro comportamiento.  </p>
      
    <p>  Justicia.- Creemos que todas las personas tienen las mismas oportunidades y trabajamos para ello. </p>
      
    <p> Lealtad.- Confianza y defensa de los valores, principios y objetivos de la entidad, garantizando los derechos individuales y colectivos.  </p>
  </div>
</div>
<br>
<div class="info-section">
    <div class="video-wrapper">
        <iframe width="490" height="250" src="https://www.youtube.com/embed/92ePBC9SHYc?controls=0" title="Introducción del hospital" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="text-wrapper">
      <h2>Sobre nosotros</h2> 
      <p>El Hospital Gíneco Obstétrico “Isidro Ayora”, por decreto gubernamental de febrero de 1982, es un Hospital de Especialidad, de referencia nacional, docente, que da atención a la madre embarazada en el control prenatal, labor, parto y puerperio, al recién nacido considerándolos como una unidad biopsicosocial. </p>
    </div>
</div>
<br>
<div class="info-section">
    <div class="text-wrapper">
        <h2>Nuestra hisotria</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices, sem ac dapibus efficitur, lectus ante varius mauris, sed eleifend sapien ipsum id justo. Vestibulum vitae bibendum velit. Duis sit amet mauris id nibh luctus tempor in ut enim. Mauris sed lacus vel dolor suscipit tempor. Ut a mi euismod, cursus lectus eget, accumsan purus. Sed venenatis massa ac lorem tincidunt, vel sollicitudin ipsum malesuada. </p>
      </div>
    <div class="video-wrapper">
        <iframe width="490" height="250" src="https://www.youtube.com/embed/V7yC4ULF-hg?controls=0" title="Historía del hospital" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>
  
<br>

<br>
<div class="text-wrapper">
  <h2 class="titulo-contacto">Contactanos</h2>
</div>

<br>
<form action="#" method="post">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="phone">Teléfono:</label>
    <input type="tel" id="phone" name="phone">
    
    <label for="subject">Asunto:</label>
    <input type="text" id="subject" name="subject" required>
    
    <label for="message">Mensaje:</label>
    <textarea id="message" name="message" required></textarea>
    
    <input type="submit" value="Enviar">
  </form>
