<div class="container_aux d-flex justify-content-ar align-items-center d-sm-block container-fluid" >

    <h3 class="title" tabindex="16" > Servicios Ofrecidos por el hospital </h3>
 
    <div class="servicio-container">
 
       <div class="servicio" data-name="p-1" tabindex="17" aria-label="Servicio de Emergencia" id="miBoton" onclick="miFuncion()">
          <img src="src/recursosServicios/Emergencia.svg">
          <h3>Emergencia</h3>
       </div>
 
       <div class="servicio" data-name="p-2" tabindex="23" aria-label="Servicio de Farmacia" id="miBoton" onclick="miFuncion()">
          <img src="src/recursosServicios/Farmacia.svg">
          <h3>Farmacia</h3>
       </div>
 
       <div class="servicio" data-name="p-3"tabindex="29" aria-label="Servicio de Ginecología">
          <img src="src/recursosServicios/Ginecologia.svg">
          <h3>Ginecologia</h3>
       </div>
 
       <div class="servicio" data-name="p-4" tabindex="35" aria-label="Servicio de Neonatología">
          <img src="src/recursosServicios/Neonatologia.svg">
          <h3>Neonatologia</h3>
       </div>
 
       <div class="servicio" data-name="p-5" tabindex="41" aria-label="Servicio de Odontologia">
          <img src="src/recursosServicios/Odontologia.svg">
          <h3>Odontologia</h3>
       </div>
 
       <div class="servicio" data-name="p-6" tabindex="47" aria-label="Servicio de Psicología">
          <img src="src/recursosServicios/psicologia.svg">
          <h3 >Psicología</h3>

       </div>
 
    </div>
 
 </div>
 
 <div class="servicio-preview">
 
    <div class="preview" data-target="p-1" tabindex="18" aria-label="Detalles del servicio de emergencias">
       <i class="fas fa-times" tabindex="22" aria-label="Salir de vista detallada"></i>
       <img src="src/recursosServicios/emergencia.jpg" tabindex="19" alt="Imagen de las camillas disponibles para emergencia en el hospital">
       <h3 tabindex="20">Emergencia</h3>
       <p tabindex="21">El Servicio de Emergencia cuenta con: Áreas de triage respiratorio y Obstétrico, estación de enfermería, cuatro consultorios para la atención médica, un cuarto crítico, una sala de partos, Área de observación con 4 camillas, Áreas de preparación de pacientes, utilería límpia, almacenamiento y de desechos hospitalarios.</p>
    </div>
 
    <div class="preview" data-target="p-2" tabindex="24" aria-label="Detalles del servicio de farmacia">
       <i class="fas fa-times" tabindex="28" aria-label="Salir de vista detallada"></i>
       <img src="src/recursosServicios/farmacia.jpg" tabindex="25" alt="Imagen de las instalaciones de la farmacia">
       <h3 tabindex="26">Farmacia</h3>
       <p tabindex="27">Tiene por objetivo ayudar a mejorar el estado de salud de nuestros  pacientes, añadiendo calidad al proceso asistencial a partir de la  dispensación y seguimiento farmacoterapéutico, promoviendo la  utilización efectiva, segura y eficiente de los medicamentos en un  marco de responsabilidad y mejora continua.</p>
    </div>
 
    <div class="preview" data-target="p-3" tabindex="30" aria-label="Detalles de servicio de Ginecología">
       <i class="fas fa-times" tabindex="34" aria-label="Salir de vista detallada"></i>
       <img src="src/recursosServicios/ginecologia.jpg" tabindex="31" alt="Imagen del personal encargado del servicio de ginecología">
       <h3 tabindex="32">Ginecología</h3>
       <p tabindex="33">El Servicio de Ginecología ofrece atención de tercer nivel,  relacionada con la Salud Reproductiva de la mujer ecuatoriana en todo su ciclo de vida, tanto desde el enfoque de la Ginecología General , como de las subespecialidades; Medicina Reproductiva,  Oncología Ginecológica, Patología Cervical, Uroginecología y Piso Pélvico.</p>
    </div>
 
    <div class="preview" data-target="p-4" tabindex="36" aria-label="Detalles del servicio de neonatología">
       <i class="fas fa-times" tabindex="40" aria-label="Salir de vista detallada"></i>
       <img src="src/recursosServicios/neonatologia.jpg" tabindex="37" alt="Imagen de un bb en una encubadora dada por el servicio">
       <h3 tabindex="38">Neonatología</h3>
       <p tabindex="39">El Servicio de Neonatología es una unidad de referencia nacional,  cuenta con un personal humano calificado y equipos biomédicos con tecnología de punta, para brindar atención de calidad a los/as recién nacidos/as, alcanzando un alto grado de satisfacción en los usuarios internos y externos del Servicio.</p>
    </div>
 
    <div class="preview" data-target="p-5" tabindex="42" aria-label="Detalles del servicio de Odontología">
       <i class="fas fa-times" tabindex="46" aria-label="Salir de vista detallada"></i>
       <img src="src/recursosServicios/odontologia.jpg" tabindex="43" alt="Iamgen de una sala odontológica">
       <h3 tabindex="44">Odontología</h3>
       <p tabindex="45">Nuestro Servicio de Odontología se encarga de la prevención, diagnóstico, tratamiento y rehabilitación de las patologías bucales  así como también de la educación y promoción de estilos de vida saludables para mantener en buen estado la cavidad bucal.</p>
    </div>
 
    <div class="preview" data-target="p-6" tabindex="48" aria-labe="Detalles del servicio de psicologia">
       <i class="fas fa-times" tabindex="52" aria-label="Salir de vista detallada"></i>
       <img src="src/recursosServicios/psicologia.jpg" tabindex="49" alt="Imagen de los profesionales realizando su trabajo en psicologia">
       <h3 tabindex="50">psicologia</h3>
       <p tabindex="51">La atención en salud mental se orienta a buscar la estabilidad emocional en un marco de atención integral, con profesionales capacitados y sensibilizados  en la atención de diversos aspectos que afectan la salud mental de las usuarias.</p>
    </div>
 
 </div>
 

